<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089973942482-kg3ir2nmu3ed8u5eaob72e55055tuu6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089973942482-kg3ir2nmu3ed8u5eaob72e55055tuu6t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjrlTrRqMwog-LLqJ7S8WxLf_d7cnF0Io</string>
	<key>GCM_SENDER_ID</key>
	<string>1089973942482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canxkoz.BirdsOfIstanbul</string>
	<key>PROJECT_ID</key>
	<string>birdsofistanbul-d3c13</string>
	<key>STORAGE_BUCKET</key>
	<string>birdsofistanbul-d3c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089973942482:ios:5e79515fe6b4ab392f150b</string>
</dict>
</plist>